<div class="page-header">
  <h1>Condition #<%= @condition.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Med conditions</dt>
  <dd><%= @condition.med_conditions %></dd>

  <dt>Medication name</dt>
  <dd><%= @condition.medication_name %></dd>

</dl>
